.form {
  margin-top: 3rem;
}
.ant-form-item-row {
  /* display: flex;
  flex-direction: column; */
  /* align-items: start;
  width: 100%; */
}
.form-item {
  font-weight: 700;
  margin: 0 0.5rem;
}

.btn {
  background-color: #ff5e17;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

input:focus,
input:active {
  border-color: #000;
  border: none;
  outline: none;
  box-shadow: none;
}
