@import './Home.module.css';
@import './Heade.module.css';
@import './Banner.module.css';
@import './Form.module.css';
@import './Footer.module.css';
html {
  direction: rtl;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 9%;
  padding-left: 9%;
}
@media (min-width: 476px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 9%;
    padding-left: 9%;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1340px;
    max-width: 100%;
  }
}
